.wrap {
    width: 1862px;
    height: 50px;
    left: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 0.3);
    mix-blend-mode: normal;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    background: #0F2438;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #FFFFFF;
}
.navbar-light .navbar-nav .nav-link {
    color: #FFFFFF;
}

.wrap2 {
    width: 1862px;
    height: 125px;
    left: 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15)
}
.image{
    margin-top: 30px;
}
.image_name{
    margin-left: 5px;
    margin-top: 35px;
    width: 230px;
}

.clock{
    margin-top: 35px;
    margin-left: 5px;
}
.clock2{
    margin-left: 10px;
    margin-top: 35px;
    height: 35px;
}
.clock2 p{
    height: 5px;
}
.clock3{
    margin-left: 125px;
    height: 30px;
}
.nevskiy{
    margin-top: 40px;
    margin-left: 10px;
}
.nevskiy2{
    margin-top: 40px;
    margin-left: 10px;
}
.whatsup{
    margin-top: 40px;
    margin-left: 10px;
    height: 0px;

}
.nomer{
    margin-top: 40px;
    margin-left: 25px;
    height: 0px;
}
.button{
    text-align: center;
    width: 164px;
    height: 53px;
    left: 283px;
    top: 159px;
    color: #FFFFFF;
    background: #005BB9;
    border-radius: 6px;
}
.button p{
    margin-top: 12px;
}
.text1{
    height: 150px;
}
.text2{
    height: 150px;
}
.wrap3{
    width: 1862px;
    height: 70px;
    left: 0px;
    background: #FFFFFF;

}
.pole2{
    width: 350px;
    height: 53px;
    background: #F4F5FA;
    border-radius: 6px 0px 0px 6px;
    margin-left: 30px;
}
.pole2 p{
    margin-top: 12px;
    margin-left: 19px;
}
.buttonn{
    text-align: center;
    width: 100px;
    height: 53px;
    left: 283px;
    top: 159px;
    color: #FFFFFF;
    background: #005BB9;
    border-radius: 6px;
}
.buttonn p{
    margin-top: 12px;
}
.voitu{
    margin-top: 12px;
    margin-left: 80px;
}

.voitu2{
    margin-top: 15px;
    margin-left: 10px;
}
.hurt{
    margin-top: 12px;
    margin-left: 30px;
}
.hurt2{
    margin-top: 15px;
    margin-left: 10px;
}
.korzina{
    margin-top: 12px;
    margin-left: 30px;
}
.korzina2{
    margin-top: 15px;
    margin-left: 10px;
}
.wrap4{
    width: 1862px;
    height: 420px;
    left: 0px;
    background: #FFFFFF;
}
.wrap4_1{
    width: 1364px;
    height: 390px;
}
.wrap4_2blue{
    width: 860px;
    height: 390px;
    background: url("./image/Mask Group (1).png") no-repeat center/cover;
    border-radius: 10px;
    margin-right: 10px;
}
.wrap4_2blue2{
    margin-left: 380px;
    margin-top: 28px;
}
.text1 {
    position: absolute;
    width: 327px;
    height: 42px;
    left: 380px;
    top: 357px;
}

.text1 h1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    color: #0A1A2C;
}

.text2 {
    position: absolute;
    width: 117px;
    height: 23px;
    left: 383px;
    top: 409px;
}

.text2 h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
}

.text3 {
    position: absolute;
    width: 200px;
    height: 43px;
    left: 380px;
    top: 440px;
}

.text3 h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 43px;
    color: #005BB9;
}
.text4 {
    position: absolute;
    width: 117px;
    height: 26px;
    left: 540px;
    top: 455px;
}

.text4 h4 {
    font-size: 18px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.buttonnn{
    display: flex;
    position: absolute;
    width: 160px;
    height: 49px;
    left: 380px;
    top: 515px;
    background: #005BB9;
    border-radius: 6px;
    color: #FFFFFF;
}
.buttonnn p{
    text-align: center;
    margin-top: 10px;
    width: 100px;
    height: 49px;
    margin-right: 20px;
}
.buttonnn img{
    width: 26px;
    height: 27px;
    margin-top: 10px;
    margin-left: 15px;
}

.aktciya{
    width: 329px;
    height: 390px;
}
.aktciya1{
    width: 329px;
    height: 190px;
    margin-bottom: 10px;
    background: #F4F5FA;
    border-radius: 10px;
}
.aktciya1 p{
    position: absolute;
    width: 42px;
    height: 16px;
    left: 1170px;
    top: 260px;
    color: #0F2438;
}

.aktciya2{
    width: 329px;
    height: 190px;
    background: #F4F5FA;
    border-radius: 10px;
}
.avt_zap_pag{
    position: absolute;
    margin-top: 54px;
    margin-left: 10px;
}
.obgonnaya{
    position: absolute;
    margin-left: 100px;
    margin-top: 55px;

}
.obgonnaya2{
}

.obgonnaya3{
    width: 80px;
}
.obgonnaya4{
}

.button__blue2{
    width: 57px;
    height: 49px;
    background: #005BB9;
    margin-left: 17px;
    margin-top: 1px;
    border-radius: 10%;
}
.button__blue2 img{
    margin-top: 10px;
    margin-left: 15px;
}


.circle{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 300px;
    top: 430px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
}
.circle img{
    margin-left: 12px;
    margin-top: 10px;
}
.circle2{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1080px;
    top: 430px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
}
.circle2 img{
    margin-left: 16px;
    margin-top: 10px;
}
.circle3{
    position: absolute;
    width: 16px;
    height: 16px;
    left:660px;
    top: 600px;
    background: #0D1C2B;
    border-radius: 50%;
}

.circle4{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 698px;
    top: 600px;
    background: #FFFFFF;
    border: 1px solid #0A1A2C;
    box-sizing: border-box;
    border-radius: 50%;
}

.circle5{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 736px;
    top: 600px;

    background: #FFFFFF;
    border-radius: 50%;
}
.aktciya2 p{
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
}
.avt_zap_pag2{
    position: absolute;
    margin-top: 54px;
    margin-left: 10px;
}
.complect{
    position: absolute;
    margin-left: 100px;
    margin-top: 55px;
}
.wrap5{
    width: 1862px;
    height: 270px;
    left: 0px;
    background: #FFFFFF;
    margin-top: 30px;
}
.wrap5_1{
    width: 1364px;
    height: 340px;
}
.masla{
    width: 390px;
    height: 190px;
    margin-right: 15px;
    border-radius: 3%;
    border: 1px solid #E1E5F8;
}
.filtru{
    width: 390px;
    height: 190px;
    margin-right: 15px;
    border-radius: 3%;
    border: 1px solid #E1E5F8;
}
.radiatoru{
    width: 390px;
    height: 190px;
    border-radius: 3%;
    border: 1px solid #E1E5F8;
}
.maslapereitu{
    width: 236px;
    height: 190px;
}
.maslapereitu h1{
    font-size: 24px;
    color: #0A1A2C;
    margin-top: 20px;
    margin-left: 15px;
    font-weight: 500
}
.maslapereitu p{
    margin-left: 15px;
    white-space: nowrap;
}
.fotka{
    margin-left: 32px;
    width: 154px;
    height: 202px;
}
.fotka img{
    width: 154px;
    height: 202px;
}

.pereitu{
    width: 86px;
    height: 26px;
    left: 313px;
    top: 850px;
    margin-left: 15px;
    background: #005BB9;
    border-radius: 6%;
}
.pereitu p{
    color: #FFFFFF;
    font-size: 14px;
    align-items: center;
    margin-top: 10px;
}
.filtrupereitu{
    position: absolute;
    width: 236px;
    height: 190px;
}
.filtrupereitu h1{
    font-size: 24px;
    color: #0A1A2C;
    margin-top: 20px;
    margin-left: 15px;
}
.filtrupereitu p{
    margin-left: 15px;
}
.fotka2{
    margin-left: 232px;
}
.radiatorupereitu{
    position: absolute;
    width: 236px;
    height: 190px;
}
.radiatorupereitu h1{
    font-size: 24px;
    color: #0A1A2C;
    margin-top: 20px;
    margin-left: 15px;
}
.radiatorupereitu p{
    margin-left: 15px;
}
.fotka3{
    margin-left: 188px;}
.wrap6{
    width: 1862px;
    height: 80px;
    left: 0px;
    background: #FFFFFF;
}
.wrap6_1{
    width: 1364px;
    height: 60px;
}
.podborki{
    width: 241px;
    height: 55px;
    left: 283px;
    top: 976px;
    background: #005BB9;
    border-radius: 6px;
    margin-right: 20px;
}
.podborki p{
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 10px;
}
.akcii{
    width: 123px;
    height: 55px;
    left: 544px;
    top: 976px;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    margin-right: 20px;
}
.akcii p{
    text-align: center;
    font-size: 20px;
    color: #005BB9;
    margin-top: 10px;
}
.sechas{
    width: 229px;
    height: 55px;
    left: 687px;
    top: 976px;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
}
.sechas p{
    text-align: center;
    font-size: 20px;
    color: #005BB9;
    margin-top: 10px;
}

.wrap7{
    width: 1862px;
    height: 270px;
    left: 0px;
    background: #FFFFFF;
}
.wrap7_1{
    width: 1364px;
    height: 420px;
}
.screen1{
    display: flex;
    flex-direction: column;
    width: 316px;
    height: 418px;
    left: 283px;
    top: 1061px;
    margin-right: 30px;
}
.screen2{
    display: flex;
    flex-direction: column;
    width: 316px;
    height: 418px;
    left: 283px;
    top: 1061px;

    margin-right: 30px;
}
.screen3{
    display: flex;
    flex-direction: column;
    width: 316px;
    height: 418px;
    left: 283px;
    top: 1061px;
    margin-right: 30px;
}
.screen4
{
    display: flex;
    flex-direction: column;
    width: 316px;
    height: 418px;
    left: 283px;
    top: 1061px;

}
.otziv{
    height: 16px;
    width: 200px;
    margin-bottom: 10px;
}
.otziv p{
    font-size: 14px;
    color: #FFB800;
    margin-left: 3px;
    margin-right: 10px;
}
.otziv p1{
    font-size: 14px;
    color: #B0B0B0;
}
.screen1 p2{
    font-size: 20px;
    color: #0A1A2C;
    margin-bottom: 39px;
    font-weight: 500;
}
.otziv2{
    height: 16px;
    width: 200px;
}
.otziv2 p3{
    font-size: 13px;
    color: #000000;
    margin-right: 4px;
}
.otziv2 p4{
    font-size: 13px;
    color: #005BB9;
    text-decoration-line: underline;
}
.otziv3{
    width: 300px;
    height: 60px;
    margin-top: 20px;
}
.knopka{
    position: absolute;
    width: 160px;
    height: 49px;
    background: #005BB9;
    border-radius: 6px;
}
.knopka p5 {
    text-align: center;
    color: #FFFFFF;
    margin-left: 40px;
    margin-top: 5px;
}

.knopka img{
    width: 26px;
    height: 27px;
    margin-top: 10px;
    margin-left: 15px;
}
.vector{
    margin-left: 20px;
    margin-top: 15px;

}
.vector2{
    margin-left: 20px;
    margin-top: 13px;

}
.otziv p5{
    font-size: 14px;
    color: #B0B0B0;
}
.screen3 p6{
    font-weight: 500;
    font-size: 20px;
    color: #0A1A2C;
    margin-bottom: 39px;
}

.otziv2 p7{
    font-size: 13px;
    color: #000000;
    margin-right: 4px;
}
.otziv2 p8{
    font-size: 13px;
    color: #005BB9;
    text-decoration-line: underline;
}

.otziv p9{
    font-size: 14px;
    color: #B0B0B0;
}
.screen2 p10{
    font-size: 20px;
    color: #0A1A2C;
    margin-bottom: 39px;
    font-weight: 500;
}

.otziv2 p11{
    font-size: 22px;
    color: #FFB800;
    margin-right: 8px;
}
.otziv2 p12{
    font-size: 16px;
    color: #C2C5DA;
    margin-top: 6px;
}

.otziv p13{
    font-size: 14px;
    color: #B0B0B0;
}
.screen4 p14{
    font-size: 20px;
    color: #0A1A2C;
    margin-bottom: 39px;
    font-weight: 500;
}

.otziv2 p15{
    font-size: 13px;
    color: #000000;
    margin-right: 4px;
}
.otziv2 p16{
    font-size: 13px;
    color: #005BB9;
    text-decoration-line: underline;
}
.wrap8{
    width: 1862px;
    height: 270px;
    left: 0px;
    background: #FFFFFF;
    margin-top: 270px;
}
.rectanble{
    position: absolute;
    width: 1354px;
    height: 1px;
    background: #E1E5F8;
    margin-top: 220px;
    margin-left: 285px;
}

.wrap9{
    width: 1862px;
    height: 200px;
    left: 0px;
    background: #FFFFFF;
    margin-top: 250px;
}
.but{
    position: absolute;
    width: 187px;
    height: 49px;
    left: 867px;
    background: #FFFFFF;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
}
.but p17{
    font-size: 16px;
    align-items: center;
    text-align: center;
    color: #005BB9;
    margin-left: 40px;
    margin-top: 10px;
}
.but2{
    position: absolute;
    width: 113px;
    height: 28px;
    left: 281px;
    top: 2240px;
}
.but2 p18{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
.wrap10{
    position: absolute;
    width: 1920px;
    height: 9px;
    left: 0px;
    top: 2290px;
    background: #F5F5F5;
}
.wrap11{
    width: 1920px;
    height: 356px;
}
.wrap11_1{
    width: 1764px;
    height: 356px;
}
.column1{
    display: flex;
    flex-direction: column;
    width: 284px;
    height: 236px;
    margin-right: 40px;
    margin-left: 280px;
}
.column2{
    display: flex;
    flex-direction: column;
    width: 284px;
    height: 236px;
    margin-right: 85px;
    margin-left: 25px;
}
.column3{
    display: flex;
    flex-direction: column;
    width: 284px;
    height: 236px;
    margin-right: 80px;
}
.column4{
    display: flex;
    flex-direction: column;
    width: 284px;
    height: 236px;
}
.kolo{
    position: absolute;
    width: 9px;
    height: 9px;
    left: 332px;
    top: 2290px;
    background: #0C1A2A;
    border-radius: 50%;
}
.kolo2{
    position: absolute;
    height: 9px;
    width: 9px;
    left: 676px;
    top: 2290px;
    background: #0C1A2A;
    border-radius: 50%;
}
.kolo3{
    position: absolute;
    height: 9px;
    width: 9px;
    left: 1045px;
    top: 2290px;
    background: #0C1A2A;
    border-radius: 50%;

}
.kolo4{
    position: absolute;
    height: 9px;
    width: 9px;
    left: 1409px;
    top: 2290px;
    background: #0C1A2A;
    border-radius: 50%;
}
.line{
    position: absolute;
    height: 20px;
    width: 1px;
    left: 336px;
    top: 2299px;
    background: #0C1A2A;

}
.line2{
    position: absolute;
    height: 20px;
    width: 1px;
    left: 680px;
    top: 2299px;
    background: #0C1A2A;
}
.line3{
    position: absolute;
    height: 20px;
    width: 1px;
    left: 1049px;
    top: 2299px;
    background: #0C1A2A;}
.line4{
    position: absolute;
    height: 20px;
    width: 1px;
    left: 1413px;
    top: 2299px;
    background: #0C1A2A;
}
.block1{
    height: 22px;
    width: 106px;
    left: 283px;
    top: 2218px;
    border-radius: 4px;
    background: #0C1A2A;
    margin-top: 10px;
}
.block1 p{
    height: 19px;
    width: 67px;
    left: 302px;
    top: 2219px;
    color: #FFFFFF;
    margin-left: 15px;
}
.block2{
    height: 22px;
    width: 106px;
    left: 627px;
    top: 2218px;
    border-radius: 4px;
    background: #0C1A2A;
    margin-top: 10px;
}
.block2 p{
    height: 19px;
    width: 67px;
    left: 302px;
    top: 2219px;
    color: #FFFFFF;
    margin-left: 15px;
}
.block3{
    height: 22px;
    width: 106px;
    left: 283px;
    top: 2218px;
    border-radius: 4px;
    background: #0C1A2A;
    margin-top: 10px;
}
.block3 p{
    height: 19px;
    width: 67px;
    left: 302px;
    top: 2219px;
    color: #FFFFFF;
    margin-left: 15px;
}
.block4{
    height: 22px;
    width: 106px;
    left: 283px;
    top: 2218px;
    border-radius: 4px;
    background: #0C1A2A;
    margin-top: 10px;
}
.block4 p{
    height: 19px;
    width: 84px;
    left: 302px;
    top: 2219px;
    color: #FFFFFF;
    margin-left: 15px;
}
.blue{
    margin-top: 17px;
}
.blue p{
    color: #005BB9;
}
.black{
    margin-top: 20px;
}
.black p{
    color: #242424;
}
.blue2{
    margin-top: 17px;
}
.blue2 p{
    color: #005BB9;
}
.black2{
    margin-top: 20px;
}
.black2 p{
    color: #242424;
}
.blue3{
    margin-top: 17px;
}
.blue3 p{
    color: #005BB9;
}
.black3{
    margin-top: 20px;
}
.black3 p{
    color: #242424;
}
.blue4{
    margin-top: 17px;
}
.blue4 p{
    color: #005BB9;
}
.black4{
    margin-top: 20px;
}
.black4{
    color: #242424;
}
.wrap12{
    height: 408px;
    width: 1920px;
    background: #0C1A2A;
}
.katalog{
    display: flex;
    flex-direction: column;
    height: 390px;
    width: 124px;

    margin-left: 33px;
    margin-top: 36px;
    margin-right: 90px;
}
.katalog p{
    color: #868DAC;
    font-size: 18px;
}
.katalog p2{
    color: #FFFFFF;
    font-size: 14px;
}
.katalog p3{
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 14px;
}
.katalog p4{
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 14px;
}
.katalog p5{
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 14px;
}
.katalog p6{
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 14px;
}
.katalog p7{
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 14px;
}
.katalog p8{
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 14px;
}
.katalog p9{
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: 3px;
}

.rybrukator{
    display: flex;
    flex-direction: column;
    width: 166px;
    height: 250px;
    margin-top: 36px;
    margin-right: 95px;
}
.rybrukator p{
    color: #868DAC;
    font-size: 18px;
}
.rybrukator p2{
    color: #FFFFFF;
    font-size: 14px;
}
.rybrukator p3{
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 14px;
}
.rybrukator p4{
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 14px;
}
.rybrukator p5{
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 14px;
}
.rybrukator p6{
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 14px;
}
.rybrukator p7{
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 14px;
}
.rybrukator p8{
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 14px;
}
.rybrukator p9{
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 14px;
}
.information{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 250px;
    margin-top: 36px;
    margin-right: 100px;
}
.information p{
    color: #868DAC;
    font-size: 18px;
}
.information p2{
    color: #FFFFFF;
    font-size: 14px;
}
.information p3{
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 14px;
}
.information p4{
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 14px;
}
.information p5{
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 14px;
}
.information p6{
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 45px;
}
.visa{
    width: 114px;
    height: 45px;
}

.kontaktuadres {
    display: flex;
    flex-direction: column;
    width: 470px;
    height: 280px;
    margin-top: 36px;
}
.kontaktuadres1{
    width: 292px;
    height: 21px;
}
.kontaktu{
    width: 97px;
    height: 21px;
    margin-right: 135px;

}
.kontaktu p{
    color: #868DAC;
    font-size: 18px;
}
.adress{
    width: 60px;
    height: 21px;

}
.adress p{
    color: #868DAC;
    font-size: 18px;
}
.kontaktuadres2{
    width: 471px;
    height: 38px;
    margin-top: 12px;
}
.zap{
    height: 38px;
    width: 125px;
    margin-right: 107px;
}
.zap p{
    font-size: 16px;
    color: #FFFFFF;
}
.novosibirsk{
    height: 38px;
    width: 239px;
}
.novosibirsk p{font-size: 16px;
    color: #FFFFFF;}

.kontaktuadres3{
    width: 458px;
    height: 21px;
    margin-top: 23px;
}
.mu{
    width: 240px;
    height: 21px;
    margin-right: 23px;
}
.mu p{
    font-size: 16px;
    color: #858CAB;
}
.forma{
    width: 195px;
    height: 21px;
}
.forma p{
    font-size: 16px;
    color: #FFFFFF;
}
.kontaktuadres4{
    width: 343px;
    height: 42px;
    margin-top: 23px;
}
.kontaktuadres4 p{
    color: #858CAB;
}
.kontaktuadres5{
    width: 470px;
    height: 40px;
    margin-top: 19px;
}
.email{
    width: 293px;
    height: 40px;
}
.pod{
    height: 38px;
    width: 177px;
    background: #005BB9;
    border-radius: 6px;
}
.pod p{
    color:#FFFFFF;
    text-align: center;
    margin-top: 7px;
}


.kontaktuadres6{
    width: 470px;
    height: 40px;
    margin-top: 29px;
}
.facebook{
    margin-left: 220px;
}
.telegram{
    margin-left: 55px;
}
.twiter {
    margin-left: 55px;
}
.google{
    margin-left: 55px;
}
.plus{
    margin-left: 3px;
}
.last{
    height: 20px;
    width: 350px;
    margin-top: 38px;
}
.last p{
    font-size: 16px;
    color: #737E9B;
}
.knopkka{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    width: 160px;
    border-radius: 6px;
    background: #005BB9;
}
.knopkka p{
    color: #FFFFFF;
    font-size: 16px;
    margin-left: 5px;
    margin-top: 15px;
}